<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Indatrip</title>
</head>
<body>
    <header>
        <nav>
            <div class="navleft">
                <a href="/"><img src="/images/indatriplogo.png" alt=""></a>
            </div>
            <div class="navright">
                <ul>
                    <li><a href="#experiencia">EXPERIENCIA</a></li>
                    <li><a href="#trailers">TRAILERS</a></li>
                    <li><a href="">CONTACTO</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <main>
        <div class="bannerhome" id="top">
            <div class="bannerleft">
                <h1>VIAJÁ SIN LÍMITES</h1>
                <h3>Alquiler de trailers para disfrutar de una experiencia de viaje distinta.</h3>
                <p>Conectate con la naturaleza</p>
            </div>
            <div class="bannerright">
                <div class="formcontainer">
                <form>
                    <h3>ALQUILÁ</h3>
                    <div class="input1">
                        <label for="name">Nombre</label>
                        <input id="name" name="name" type="text">
                    </div>
                    <div class="input1">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email">
                    </div>
                    <div class="input2">
                        <div class="checkin">
                            <label for="checkin">Check-in</label>
                            <input id="checkin" name="checkin" type="date">
                        </div>
                        <div class="checkout">
                            <label for="checkout">Check-out</label>
                            <input id="checkout" name="checkout" type="date">
                        </div>
                    </div>
                    <div class="input2">
                        <div class="adultos">
                            <label for="adultos">Adultos</label>
                            <select id="adultos" name="adultos">
                                <option value="1" selected>1</option> 
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="ninos">
                            <label for="ninos">Niños</label>
                            <select id="ninos" name="ninos">
                                <option value="1" selected>1</option> 
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="button">
                    <button id="button" type="submit" >ENVIAR</button>
                    </div>
                </div>

                </form>
            </div>
        </div>

        <div id="experiencia" class="experiencia">
            <h2>VIVÍ LA EXPERIENCIA</h2>
            <div class="logos">
                <div class="logocontainer">
                    <img src="/images/hoguera.svg" alt="fuego">
                    <h3>CAMPING</h3>
                    <p>Te brindamos todos los elementos de camping para que puedas disfrutar de tu viaje lo más cómodo y equipado posible.</p>
                </div>
                <div class="logocontainer">
                    <img src="/images/caravana.svg" alt="trailer">
                    <h3>TRAILERS</h3>
                    <p>Trailers modernos de hasta 4 personas. Cocina, cama, espacio.</p>
                </div>
                <div class="logocontainer">
                    <img src="/images/bosque.svg" alt="bosque">
                    <h3>NATURALEZA</h3>
                    <p>Disfrutá de unas vacaciones distintas, lejos de la ciudad y conectado con la naturaleza. Despertá todos los días en un paisaje distinto.</p>
                </div>
            </div>
            <div class="button2"> 
            <a href=""><button>QUIERO ALQUILAR</button></a>
            </div>
        </div>

        <div class="infosection" id="trailers">
            <div class="infocontainer">
                <div class="infoimage">
                    <img src="https://mactrail.com/wp-content/uploads/2020/06/WhatsApp-Image-2020-05-26-at-15.42.10.jpeg" alt="">
                </div>
                <div class="info"> 
                    <h3>TRAILER</h3>
                    <p>Trailer patentable homologado con LCM (número VIN grabado en el chasis).<br><br>

                    Chasis realizado en hierro estructural UPN 60 x 30 galvanizado o pintado. Un eje, rodado 14″, cubiertas 0 Km y llantas cromadas de seis agujeros, sistema de acople con bocha de 2″ USA. Guardabarros americanos de aluminio diamon plate. Pata timonera y rueda de auxilio.<br><br>
                        
                    Detalles y terminaciones de calidad de exportación. Carrocería monocasco en fibra de vidrio reforzada (sin filtraciones), color a elección, doble pared con aislación térmica en poliuretano de alta densidad.<br><br>
                        
                    Zócalo externo y detalles de terminación en chapa aluminio diamon plate importada USA, baguetas de aluminio anodizado, cerraduras y cerrojos de seguridad importados, burletes de goma de calidad automotriz, patas de apoyo tipo críquet y grilletes de remolque.<br><br>
                        
                    Aberturas: Puerta de acceso, ventanas laterales, escotilla de ventilación y portón trasero. Todo hermético antipolvo.<br><br>
                        
                    Forrado interior en madera o fiberglass, instalación eléctrica interior, iluminación por luces de led. Piso forrado en goma vinílica símil madera.</p>
                    <a href=""><button id="button">QUIERO ALQUILAR</button></a>
                </div>
            </div>
            <div class="infocontainer">
                <div class="info">
                    <h3>EQUIPAMIENTO</h3>
                    <p><b>Equipamiento incluido de serie:</b><br><br>
                        Enganche para bola de 2″<br>
                        Cadenas de seguridad<br>
                        Pata con timonera<br>
                        Pata de apoyo delantera<br>
                        2 patas de apoyo traseras tipo críquet<br>
                        Ganchos de remolque (grilletes)<br>
                        Rueda de auxilio completa<br>
                        Aberturas<br>
                        Puerta de ingreso con ventana y cerradura<br>
                        Ventana lateral<br>
                        Portón posterior con cerradura y amortiguador hidráulico<br>
                        Aireador techo<br>
                        Exterior<br>
                        Porta equipaje galvanizado con detalles en madera<br>
                        Escalera galvanizada<br>
                        Kitchenette<br>
                        Mueble alacena en madera con cierres rápidos estantes y ordenadores<br>
                        Mueble con mesada de acero inox. con lugar de guardado y ordenadores<br>
                        Interior<br>
                        Piso vinílico símil madera<br>
                        Interior forrado en madera con acabados en cetol mate o fiberglass<br>
                        Mueble guarda ropa con estantes<br>
                        Mueble cabecera con estantes<br>
                        Ordenadores laterales<br><br>
                        
                        <b>Electricidad</b><br><br>
                        Tablero eléctrico<br>
                        2 tomas 12V tipo encendedor<br>
                        2  tomas USB<br>
                        4 tomas 220<br>
                        Toma exterior<br>
                        Luz interior led<br>
                        Luz exterior led<br>
                        Luz Kitchenette led<br>
                        Luz portón kitchenette led<br>
                        Equipo de audio / video / parlantes<br>
                        Batería 12v.<br>
                        Cargador</p>
                    <a href=""><button id="button">QUIERO ALQUILAR</button></a>
                </div>
                <div class="infoimage">
                    <img src="https://mactrail.com/wp-content/uploads/2020/06/WhatsApp-Image-2020-06-11-at-12.47.50-4.jpeg" alt="">
                </div>
            </div>
            <div class="infocontainer">
                <div class="infoimage">
                    <img src="https://mactrail.com/wp-content/uploads/2020/08/Datos-adjuntos-sin-t%C3%ADtulo-00037.png" alt="">
                </div>
                <div class="info">
                    <h3>DIMENSIONES Y DETALLES</h3>
                    <p> <b>Dimensiones módulo:</b><br><br>

                        Largo exterior: 3.150mm<br>
                        
                        Ancho interior:1.720mm<br>
                        
                        Alto interio:1.460mm<br>
                        
                        Trocha maxima:2.070mm<br>
                        
                        Largo total:4.600mm<br><br>

                        <b>Detalles</b><br><br>

                        🙋‍♀️ Baño!<br>

                        👨‍✈️ Frenos a disco!<br>

                        👨‍👩‍👧‍👦 Cuatro plazas<br>

                        👮‍♂️ Patentable categoría/O2<br>

                        👨‍🍳 kitchenette<br>

                        🧑🏻‍🏭 Hierro/Fiberglass/aluminio<br>

                        👨🏽‍🎤 Rodado All-Terrain<br>

                        👨🏻‍💻 Ingeniería de avanzada<br>

                        👩🏻‍💻 documentación real(no 101)<br>
                    
                    </p>
                    <a href=""><button id="button">QUIERO ALQUILAR</button></a>
                </div>
            </div>
        </div>

        <div class="bannerbottom">
            <div class="button">
                <a href="#top"><button id="buttonbottom" type="submit" >Quiero alquilar un Trailer</button></a>
            </div>
        </div>
    </main>

    <footer>
        <div class="footercontainer">
            <div>
                <img src="/images/indatriplogo.png" alt="">
            </div>
            <div class="footerlinks">
                <ul>
                    <li><a href="#experiencia">Experiencia</a></li>
                    <li><a href="#trailers">Trailers</a></li>
                    <li><a href="#top">Contacto</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div>
                <div>
                    <p>Seguinos en las redes!</p>
                </div>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="copywright">
        <small>© 2020 Indatrip</small>
        </div>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("form").on("submit", (e) => {
        e.preventDefault();

        const email = $("#email").val().trim();
        const name = $("#name").val().trim();
        const checkin = $("#checkin").val().trim();
        const checkout = $("#checkout").val().trim();
        const ninos = $("#ninos").val().trim();
        const adultos = $("#adultos").val().trim();

        const data = {
            email,
            name,
            checkin,
            checkout,
            ninos,
            adultos
        };

        $.post("/email", data, function (){
            console.log("Server recieved our data")
        });
    });

</script>
</body>
</html>